# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

#### 1.1. Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

#### 1.2.  Loading the data

In [ ]:
path = '../input/uk-housing-prices/UK_House_price_index.xlsx'
data = pd.read_excel(path, sheet_name='Average price', index_col= None)

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [ ]:
data

In [ ]:
data.info()

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [ ]:
data.dropna(how='all', axis=1, inplace=True)

In [ ]:
data.drop(columns=['City of London'],inplace = True)

In [ ]:
data.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)

In [ ]:
data = data.loc[1:, 'Date': 'Westminster']

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [ ]:
data.columns

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [ ]:
data = pd.melt(data, id_vars = 'Date', var_name='District', value_name='Price')

In [ ]:
data.Price = data.Price.astype('float')

In [ ]:
data.info()

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [ ]:
data.District.nunique()

**3.1 Answering the Question**

Which borough of London has seen the greatest average increase in housing prices over
the (approximately) two decades covered by the dataset?

In [ ]:
data['year'] = pd.DatetimeIndex(data.Date).year

In [ ]:
last_20_yrs = data.loc[data.year >= 2001].copy()

In [ ]:
last_20_yrs = last_20_yrs.groupby(['District', 'year']).Price.mean().reset_index().rename(columns={'Price': 'avg_price'})

In [ ]:
last_20_yrs

In [ ]:
last_20_yrs['pt_change'] = last_20_yrs.groupby('District').avg_price.pct_change(periods=19)

In [ ]:
last_20_yrs.loc[last_20_yrs.pt_change == last_20_yrs.pt_change.max(), ['District','pt_change']]

### 4. Conclusion

In the last 20 years, the burrough that has seen the greatest change in average housing prices is Hackney.

This was concluded by following these steps:

1. Finding the average prices per burrough per year
2. Grouping by district and applying the pandas function 'pct_change' to each group
3. Adding 'percent change' column to dataframe
4. Filtering the dataframe to only show the one row with the greatest prcnt change